In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data.head(5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
data = data[['text','target']]

In [5]:
data.head(5)

                                                text  target
0  Our Deeds are the Reason of this #earthquake M...       1
1             Forest fire near La Ronge Sask. Canada       1
2  All residents asked to 'shelter in place' are ...       1
3  13,000 people receive #wildfires evacuation or...       1
4  Just got sent this photo from Ruby #Alaska as ...       1

In [6]:
check = data['target'].value_counts()
check

target
0    4342
1    3271
Name: count, dtype: int64

In [7]:
print('Percentage of Disastrous tweets in training data is : ' + str(round(check[1]/(check[0]+check[1])*100)) + '%')

Percentage of Disastrous tweets in training data is : 43%

In [8]:
data = pd.read_csv('train.csv')

In [9]:
data['location'].value_counts()

location
USA                    104
New York                71
United States           50
London                  45
Canada                  29
                      ...
MontrÌ©al, QuÌ©bec       1
Montreal                 1
ÌÏT: 6.4682,3.18287      1
Live4Heed??              1
Lincoln                  1
Name: count, Length: 3341, dtype: int64

In [10]:
empty_location_count = data['location'].isna().sum()
empty_location_count

2533

In [11]:
print('Percentage of no location tweets in training data is : ' + str(round(empty_location_count/len(data)*100)) + '%')

Percentage of no location tweets in training data is : 33%